
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Writer Ajax operations</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Writer List</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Get Writer </button>
<br />
<br />
<div id="writerlist">
    Here writers come
</div>
<br />
<div id="writerget">
    Here comes one writer
</div>
<br />
<div >
    <input type="text" id="writerid" placeholder="Writer ID" class="form-control"/>
</div>



@section scripts{

    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(func)
                    let tablehtml = "<table class=table table-bordered> <tr> <th>Yazar ID</th> <th>Yazar Adi</th></tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.ID}</td> <td>${value.Name}</td></tr>`

                    });
                    tablehtml += "</table>"; 
                    $("#writerlist").html(tablehtml);

                }
            });
        });

        $("#btngetbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/Writer/GetWriterByID/",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    alert(w);
                }
            });
            alert(id);
        });
    </script>

}

