<h1>Mail alani </h1>

<div class="tech-btm">
    <p>Texnology and coding </p>
    <form action="/NewsLetter/SubscribeMail" method="post">
        <input type="email" placeholder="Email" required=""name="Mail">
        <input type="submit" value="Abone ol">
    </form>
</div>